# {{ ansible_managed }}
##

<LoadPlugin "python">
    Globals true
</LoadPlugin>

<Plugin "python">
    ModulePath "{{ collectd_plugin_location }}/{{ item.directory | default("") }}"

    Import "{{ item.import }}"

{% for i in item.module_config  %}
    <Module "{{ item.import }}">
{% for key, value in i.iteritems()  %}
        {{ key }} "{{ value }}"
{% endfor %}
    </Module>
{% endfor %}

</Plugin>
